fastapi
uvicorn[standard]
alembic
python-dotenv
pydantic

sqlalchemy[asyncio]
asyncpg
pgvector

httpx
beautifulsoup4
pypdf
python-docx

google-generativeai
langchain-core
langchain-google-genai
langchain-groq
langchain-text-splitters
